* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----------------
-------HEADER-----
------------------*/

header nav ul a.active li img {
  filter: drop-shadow(0 0 2px #573300);
}

/*---------------------
---------MAIN----------
-----------------------*/

main {
  background-color: #efb15e;
  box-shadow: inset 0 0 250px #be9051;
}

main article h2 {
  color: #efb15e;
}

/* main article a {
  color: #b28546;
  transition: 0.2s;
} */

/* main article a:hover {
  color: #f6463b;
} */

main article .origine,
main article .cutiestory {
  position: relative;
}

main article .origine::before,
main article .cutiestory::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../Images/FondAppleJack.png);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

main article .origine p,
main article .cutiestory p {
  color: #b28546;
}

main article .origine p::first-letter,
main article .cutiestory p::first-letter {
  font-size: 40px;
  color: #f6463b;
}

main article .origine h2,
main article .cutiestory h2 {
  text-align: center;
}
